.dash-header-container {
  margin-top: 5rem;

  .page-header {
    font-weight: 600;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    background-color: #ffffff;
    border-radius: 7px;

    .fa-icon {
      padding: 0 1rem;
      color: #323a47;
    }
  }
}
