.navbar-container {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  .brand-text {
    font-weight: 600;
  }

  .nav-items {
    font-size: 0.9rem;
  }
}

.navbar-links {
  text-decoration: none;
  color: #323a47;

  &:hover {
    color: #323a47;
  }
}

.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
