.sub-dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .dropdown {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 0rem 2rem;
    margin-bottom: 1rem;
    .title {
      border: solid 1px #484f5a;
      background-color: #ffffff;
      color: #484f5a;
      padding: 0.3rem 2rem;
      margin: 0.7rem 0rem 0.7rem 1rem;
      font-size: 0.9rem;
      width: 8rem;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}
.subject-page-container {
  margin-top: 1rem;
  border-radius: 7px;

  .subject-header {
    @media (max-width: 768px) {
      display: none;
    }
    margin: 0 2.5rem 1.5rem;
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: solid 2px #00000011;
    .subject-col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .subject-row {
    padding: 0.5rem 0;
    border-radius: 5px;
    background-color: #ffffffb3;
    margin: 0.4rem 2.5rem;
    @media (max-width: 768px) {
      margin: 0.8rem 2.5rem;
      padding: 1rem 0;
    }
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 15px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .subject-col {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    &:hover {
      background-color: #ffffff;
    }
  }

  .btn {
    margin: 0.5rem 0;
    background-color: #1e9aff;
    border-style: none;
    padding: 0.4rem 2rem;
    @media (max-width: 768px) {
      padding: 0.4rem 4rem;
    }
  }
}
