.subject-page-container {
  .subject-header {
    margin: 0 2.5rem;
    padding: 1rem 0;
    font-weight: 600;
    border-bottom: solid 1px #1724332c;

    .subject-col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .subject-row {
    padding: 0.7rem 0;
    border-radius: 5px;
    background-color: #fff;
    margin: 0.5rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .subject-col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .btn {
    margin: 1rem 0;
    background-color: #1e9aff;
    border-style: none;
  }
}
